<div class="container">
  <div class="delivery-holder">
    <h2 class="delivery-holder__first-title">Доставка</h2>
    <div class="delivery-holder__shell">
      <div class="delivery-holder__box">
        <h2 class="delivery-holder__title">Самовывоз из магазина 24 / 7</h2>
        <p class="delivery-holder__text">ПОЧЕМУ ВЫГОДНО?</p>
        <p class="delivery-holder__text">Забирай свой заказ уже через 20 минут после его подтверждения, в любое удобное
          время суток без дополнительных оплат.</p>
        <h2 class="delivery-holder__title">Шаги</h2>
        <ul class="delivery-holder__list">
          <li class="delivery-holder__item">делай заказ на сайте или по телефону 063-385-05-62;</li>
          <li class="delivery-holder__item">выбирай самовывоз из магазина TechAwesome по адресу Днепр, пер.
            Фестивальный, 5;
          </li>
          <li class="delivery-holder__item">через 20 минут лови смс о готовности заказа;</li>
          <li class="delivery-holder__item">скорее забирай и распаковывай.</li>
        </ul>
      </div>
      <div class="delivery-holder__box">
        <h2 class="delivery-holder__title">Доставка курьером по Днепру</h2>
        <p class="delivery-holder__text">ПОЧЕМУ ВЫГОДНО?</p>
        <p class="delivery-holder__text">Можно выбрать желаемую дату и временной интервал доставки, проверить товар
          перед оплатой, получить покупку, не выходя из дома или офиса.</p>
        <h2 class="delivery-holder__title">Шаги</h2>
        <ul class="delivery-holder__list">
          <li class="delivery-holder__item">делай заказ на сайте или по телефону 063-385-05-62;</li>
          <li class="delivery-holder__item">выбирай день и желаемое время доставки с 9:00 до 21:00;</li>
          <li class="delivery-holder__item">в день получения дождись звонка курьера;</li>
          <li class="delivery-holder__item">проверь целостность товара;</li>
          <li class="delivery-holder__item">забирай свой заказ с гарантийным талоном и остальными документами;</li>
          <li class="delivery-holder__item">получи свой электронный чек и забудь про бумажный.</li>
        </ul>
      </div>
      <div class="delivery-holder__box">
        <h2 class="delivery-holder__title">В ОТДЕЛЕНИЕ «Нова Пошта»</h2>
        <p class="delivery-holder__text">ПОЧЕМУ ВЫГОДНО?</p>
        <p class="delivery-holder__text">Денежный перевод оплачивает TechAwesome.</p>
        <h2 class="delivery-holder__title">Шаги</h2>
        <ul class="delivery-holder__list">
          <li class="delivery-holder__item">делай заказ на сайте или по телефону 063-385-05-62;</li>
          <li class="delivery-holder__item">выбирай удобное отделение «Нова Пошта», лови смс с накладной/номером ТТН и
            дождись сообщения о поступлении заказа;
          </li>
          <li class="delivery-holder__item">не забудь документ, удостоверяющий личность, а если сумма больше 5 000 грн —
            также захвати ИНН;
          </li>
          <li class="delivery-holder__item">проверь целостность товара;</li>
          <li class="delivery-holder__item">скорее забирай и распаковывай свою покупку.</li>
        </ul>
      </div>
      <div class="delivery-holder__box">
        <h2 class="delivery-holder__title">«Нова Пошта» по адресу</h2>
        <p class="delivery-holder__text">ПОЧЕМУ ВЫГОДНО?</p>
        <p class="delivery-holder__text">Быстрая доставка: от 1 до 3-х дней, а денежный перевод оплачивает
          TechAwesome.</p>
        <h2 class="delivery-holder__title">Шаги</h2>
        <ul class="delivery-holder__list">
          <li class="delivery-holder__item">делай заказ на сайте или по телефону 063-385-05-62;</li>
          <li class="delivery-holder__item">выбирай доставку «Нова Пошта» и введи свой адрес;</li>
          <li class="delivery-holder__item">в день доставки ожидай звонка курьера;</li>
          <li class="delivery-holder__item">при необходимости предъяви паспорт;</li>
          <li class="delivery-holder__item">проверь целостность товара;</li>
          <li class="delivery-holder__item">скорее забирай и распаковывай свою покупку.</li>
        </ul>
      </div>
      <div class="delivery-holder__box">
        <h2 class="delivery-holder__title">В ОТДЕЛЕНИЕ «Justin»</h2>
        <p class="delivery-holder__text">ПОЧЕМУ ВЫГОДНО?</p>
        <p class="delivery-holder__text">Получи свой заказ в одном из 500 удобных отделений Justin по Украине
          (супермаркеты и ТРЦ). Кроме того, денежный перевод оплачивает TechAwesome.</p>
        <h2 class="delivery-holder__title">Шаги</h2>
        <ul class="delivery-holder__list">
          <li class="delivery-holder__item">делай заказ на сайте или по телефону 063-385-05-62;</li>
          <li class="delivery-holder__item">выбирай удобное отделение Justin в своём городе;</li>
          <li class="delivery-holder__item">дождись смс с номером накладной после поступления заказа;</li>
          <li class="delivery-holder__item">не забудь документ, удостоверяющий личность и номер экспресс-накладной;</li>
          <li class="delivery-holder__item">забирай посылку и скорее распаковывай.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="payment-holder">
    <h2 class="payment-holder__first-title">Способы оплаты</h2>
    <div class="payment-holder__shell">
      <div class="payment-holder__box">
        <h2 class="payment-holder__title">Наличный расчет</h2>
        <p class="payment-holder__text">Оплата происходит исключительно в национальной валюте.</p>
        <p class="payment-holder__text">Обрати внимание!
          <br>
          <br> Цена товара действительна к оплате в течение 5 дней с момента
          оформления заказа на сайте или по телефону 063-385-05-62. Через 5 дней товар можно приобрести по актуальной
          цене
          на сайте.</p>
        <p class="payment-holder__text">При полной оплате заказа на сайте или по предоплате в размере 100% стоимости
          товаров — цены в заказе неизменны.</p>
        <p class="payment-holder__text">Покупка более 2-х единиц товаров считается оптовой и может согласовываться с
          отделом корпоративных закупок.</p>
      </div>
      <div class="payment-holder__box">
        <h2 class="payment-holder__title">Visa/Mastercard</h2>
        <p class="payment-holder__text">Онлайн заказ можно оплатить с помощью банковской карты Visa и Mastercard,
          выпущенных на территории Украины. Оформляя заказ на сайте, в пункте «Оплата» выбери «Visa/Mastercard». После
          переадресации на страницу системы безопасных платежей, необходимо лишь подтвердить платеж.</p>
        <p class="payment-holder__text">Напомним, что получить товар, оплаченный картой, может только тот клиент, чьи
          ФИО
          были указаны на сайте при оформлении заявки. Товар доставляем только после подтверждения платежа.</p>
        <p class="payment-holder__text"> Максимальная сумма оплаты заказа на сайте — 250 000 грн.</p>
        <p class="payment-holder__text">Услуги оплаты банковской картой онлайн предоставляются банком «ПриватБанк».</p>
        <p class="payment-holder__text">Персональные данные обрабатываются по твоему согласию. Сохранение персональных
          данных гарантируем!</p>
      </div>
      <div class="payment-holder__box">
        <h2 class="payment-holder__title">Безналичный для юридических лиц</h2>
        <p class="payment-holder__text">Оплатить заказ можно по безналичному расчету в кассе отделения любого банка или
          с
          расчетного счета компании. После оформления заказа на сайте дождись звонка менеджера службы поддержки или
          пришли
          документы для оформления счета-фактуры на электронную почту sales@techawesome.ua. В теме письма, пожалуйста,
          укажи номер своего заказа.</p>
        <p class="payment-holder__text">Необходимые документы для юридических лиц:</p>
        <p class="payment-holder__text">• свидетельство о государственной регистрации или выписка из единого
          государственного реестра;</p>
        <p class="payment-holder__text">• свидетельство о регистрации в качестве плательщика налога на добавленную
          стоимость (при наличии);</p>
        <p class="payment-holder__text">• свидетельство о регистрации в качестве плательщика единого налога (при
          наличии);</p>
        <p class="payment-holder__text">• контактный номер телефона организации.</p>
        <p class="payment-holder__text">Необходимые документы для физических лиц:</p>
        <p class="payment-holder__text">• паспорт (регистрация на территории Украины), ИНН.</p>
        <p class="payment-holder__text">Срок действия счета-фактуры — 3 календарных дня. Цены на сайте указаны с учетом
          НДС.</p>
        <p class="payment-holder__text">Доставка заказа возможна после поступления средств на наш расчетный счет.
          Средства
          для оплаты поступают в рабочие банковские дни по такому графику:</p>
        <p class="payment-holder__text">• 09:00 — оплаты за предыдущий банковский день, оплаченные после 15:00;</p>
        <p class="payment-holder__text">• 15:00 — оплаты за текущий день.</p>
        <p class="payment-holder__text">Способы доставки для юридических лиц:</p>
        <p class="payment-holder__text">• курьерская доставка по г. Днепр (осуществляется с 10:00 до 21:00)</p>
        <p class="payment-holder__text">• доставка курьерской службой «Нова Пошта» по Украине (занимает 1—3 дня).</p>
        <p class="payment-holder__text">Также возможен самовывоз из магазина TechAwesome. Для получения товара в
          магазине
          возьми с собой паспорт и доверенность с указанием количества получаемого товара. Если же заказ получает
          владелец
          предприятия, то достаточно предъявить паспорт и документ подтверждающий право подписи (копия выписки из устава
          о
          полномочиях директора).</p>
        <p class="payment-holder__text">По вопросам заключения договора купли-продажи просим прислать запрос на
          электронную почту sales@techawesome.ua или позвонить в службу поддержки по номеру (093) 099 11 11.</p>
      </div>
      <div class="payment-holder__box">
        <h2 class="payment-holder__title">Portmone.com</h2>
        <p class="payment-holder__text">Владельцы карты Visa, Visa Electron, Mastercard, Maestro, Cirrus, любого банка
          Украины или других стран, могут оплатить онлайн заказ через платежную систему Portmone.com.</p>
        <p class="payment-holder__text">Максимальная сумма оплаты заказа на сайте — 50 000 грн. Для оплаты заказа более
          50
          000 грн, просим позвонить в службу поддержки по номеру (093) 099 11 11.</p>
      </div>
    </div>
  </div>
</div>
