<div class="container" *ngIf="jblInfo">
  <p class="container__text">{{jblInfo.firstParagraph}}</p>
  <img class="container__img" [src]="jblInfo.imgUrl" alt="">
  <h2 class="container__title">{{jblInfo.firstSectionTitle}}</h2>
  <p class="container__text">{{jblInfo.firstSectionParagraph}}</p>
  <img class="container__img" [src]="jblInfo.firstSectionImgUrl" alt="">
  <p class="container__text">{{jblInfo.firstSectionParagraphTwo}}</p>
  <h2 class="container__title">{{jblInfo.secondSectionTitle}}</h2>
  <p class="container__text">{{jblInfo.secondSectionParagraph}}</p>
  <ul>
    <li>{{jblInfo.secondSectionLiOne}}</li>
    <li>{{jblInfo.secondSectionLiTwo}}</li>
  </ul>
  <p class="container__text">{{jblInfo.secondSectionParagraphTwo}}</p>
  <h2 class="container__title">{{jblInfo.thirdSectionTitle}}</h2>
  <p class="container__text">{{jblInfo.thirdSectionParagraph}}</p>
  <p class="container__text">{{jblInfo.thirdSectionParagraphTwo}}</p>
  <ol>
    <li>{{jblInfo.thirdSectionLiOne}}</li>
    <li>{{jblInfo.thirdSectionLiTwo}}</li>
    <li>{{jblInfo.thirdSectionLiThree}}</li>
  </ol>
  <img class="container__img" [src]="jblInfo.thirdSectionImgUrl" alt="">
  <p class="container__text">{{jblInfo.thirdSectionParagraphThree}}</p>
  <p class="container__text">{{jblInfo.thirdSectionParagraphFour}}</p>
  <h2 class="container__title">{{jblInfo.fourSectionTitle}}</h2>
  <p class="container__text">{{jblInfo.fourSectionParagraph}}</p>
  <p class="container__text">{{jblInfo.fourSectionParagraphTwo}}</p>
  <p class="container__text">{{jblInfo.fourSectionParagraphThree}}</p>
  <h2 class="container__title">{{jblInfo.fiveSectionTitle}}</h2>
  <p class="container__text">{{jblInfo.fiveSectionParagraph}}</p>
  <p class="container__text">{{jblInfo.fiveSectionPS}}</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Gcu7cWNCpc8" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
</div>
