<div class="container" *ngIf="appleInfo">
  <p class="container__text">{{appleInfo.firstParagraph}}</p>
  <h2 class="container__title">{{appleInfo.firstSectionTitle}}</h2>
  <p class="container__text">{{appleInfo.firstSectionParagraph}}</p>
  <img class="container__img" [src]="appleInfo.firstSectionImgUrl" alt="">
  <p class="container__text">{{appleInfo.firstSectionParagraphTwo}}</p>
  <h2 class="container__title">{{appleInfo.secondSectionTitle}}</h2>
  <p class="container__text">{{appleInfo.secondSectionParagraph}}</p>
  <ul>
    <li>{{appleInfo.secondSectionLiOne}}</li>
    <li>{{appleInfo.secondSectionLiTwo}}</li>
    <li>{{appleInfo.secondSectionLiThree}}</li>
    <li>{{appleInfo.secondSectionLiFour}}</li>
  </ul>
  <p class="container__text">{{appleInfo.secondSectionParagraphTwo}}</p>
  <p class="container__text">{{appleInfo.secondSectionParagraphThree}}</p>
  <h2 class="container__title">{{appleInfo.thirdSectionTitle}}</h2>
  <p class="container__text">{{appleInfo.thirdSectionParagraph}}</p>
  <h2 class="container__title">{{appleInfo.fourSectionTitle}}</h2>
  <p class="container__text">{{appleInfo.fourSectionParagraph}}</p>
  <img class="container__img" [src]="appleInfo.fourSectionImgUrl" alt="">
  <h2 class="container__title">{{appleInfo.fiveSectionTitle}}</h2>
  <p class="container__text">{{appleInfo.fiveSectionParagraph}}</p>
  <img class="container__img" [src]="appleInfo.fiveSectionImgUrl" alt="">
  <p class="container__text">{{appleInfo.fiveSectionParagraphTwo}}</p>
  <p class="container__text">{{appleInfo.fiveSectionParagraphThree}}</p>
  <h2 class="container__title">{{appleInfo.sixSectionTitle}}</h2>
  <p class="container__text">{{appleInfo.sixSectionParagraph}}</p>
  <ol>
    <li>{{appleInfo.sixSectionLiOne}}  <p class="container__text">{{appleInfo.sixSectionParagraphLiOne}}</p></li>
    <li>{{appleInfo.sixSectionLiTwo}}  <p class="container__text">{{appleInfo.sixSectionParagraphLiTwo}}</p></li>
    <li>{{appleInfo.sixSectionLiThree}}  <p class="container__text">{{appleInfo.sixSectionParagraphLiThree}}</p></li>
    <li>{{appleInfo.sixSectionLiFour}}  <p class="container__text">{{appleInfo.sixSectionParagraphLiFour}}</p></li>
  </ol>
  <p class="container__text">{{appleInfo.sixSectionPS}}</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/tXPnfhVfKhc" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
</div>
