<div class="container" *ngIf="wetPhoneInfo">
  <p class="container__text">{{wetPhoneInfo.firstParagraph}}</p>
  <ul>
    <li>{{wetPhoneInfo.firstSectionLiOne}}</li>
    <li>{{wetPhoneInfo.firstSectionLiTwo}}</li>
    <li>{{wetPhoneInfo.firstSectionLiThree}}</li>
    <li>{{wetPhoneInfo.firstSectionLiFour}}</li>
    <li>{{wetPhoneInfo.firstSectionLiFive}}</li>
  </ul>
  <p class="container__text">{{wetPhoneInfo.firstSectionParagraph}}</p>
  <h2 class="container__title">{{wetPhoneInfo.secondSectionTitle}}</h2>
  <p class="container__text">{{wetPhoneInfo.secondSectionParagraph}}</p>
  <p class="container__text">{{wetPhoneInfo.secondSectionParagraphTwo}}</p>
  <img class="container__img" [src]="wetPhoneInfo.secondSectionImgUrl" alt="">
  <p class="container__text">{{wetPhoneInfo.secondSectionParagraphThree}}</p>
  <h2 class="container__title">{{wetPhoneInfo.thirdSectionTitle}}</h2>
  <p class="container__text">{{wetPhoneInfo.thirdSectionParagraph}}</p>
  <img class="container__img" [src]="wetPhoneInfo.thirdSectionImgUrl" alt="">
  <ol>
    <li>{{wetPhoneInfo.thirdSectionLiOne}}</li>
    <li>{{wetPhoneInfo.thirdSectionLiTwo}}</li>
  </ol>
  <h3 class="container__subtitle">{{wetPhoneInfo.thirdSubsectionTitle}}</h3>
  <p class="container__text">{{wetPhoneInfo.thirdSubsectionParagraph}}</p>
  <p class="container__text">{{wetPhoneInfo.thirdSubsectionParagraphTwo}}</p>
  <h3 class="container__subtitle">{{wetPhoneInfo.thirdSubsectionTitleTwo}}</h3>
  <p class="container__text">{{wetPhoneInfo.thirdSubsectionParagraphThree}}</p>
  <p class="container__text">{{wetPhoneInfo.thirdSubsectionParagraphFour}}</p>
  <ul>
    <li>{{wetPhoneInfo.thirdSubsectionLiOne}}  <p
      class="container__text">{{wetPhoneInfo.thirdSubsectionParagraphLiOne}}</p></li>
    <li>{{wetPhoneInfo.thirdSubsectionLiTwo}}  <p
      class="container__text">{{wetPhoneInfo.thirdSubsectionParagraphLiTwo}}</p></li>
  </ul>
  <p class="container__text">{{wetPhoneInfo.thirdSubsectionParagraphFive}}</p>
  <h2 class="container__title">{{wetPhoneInfo.fiveSectionTitle}}</h2>
  <p class="container__text">{{wetPhoneInfo.fiveSectionParagraph}}</p>
  <p class="container__text">{{wetPhoneInfo.fiveSectionParagraphTwo}}</p>
  <h3 class="container__subtitle">{{wetPhoneInfo.fiveSubsectionTitle}}</h3>
  <p class="container__text">{{wetPhoneInfo.fiveSubsectionParagraph}}</p>
  <img class="container__img" [src]="wetPhoneInfo.fiveSectionImgUrl" alt="">
  <h3 class="container__subtitle">{{wetPhoneInfo.fiveSubsectionTitleTwo}}</h3>
  <p class="container__text">{{wetPhoneInfo.fiveSubsectionParagraphTwo}}</p>
  <p class="container__text">{{wetPhoneInfo.fiveSubsectionParagraphThree}}</p>
  <ul>
    <li>{{wetPhoneInfo.fiveSectionLiOne}}</li>
    <li>{{wetPhoneInfo.fiveSectionLiTwo}}</li>
  </ul>
  <p class="container__text">{{wetPhoneInfo.fiveSubsectionParagraphFour}}</p>
  <img class="container__img" [src]="wetPhoneInfo.fiveSectionImgUrlTwo" alt="">
  <h3 class="container__subtitle">{{wetPhoneInfo.fiveSubsectionTitleThree}}</h3>
  <p class="container__text">{{wetPhoneInfo.fiveSubsectionParagraphFive}}</p>
  <p class="container__text">{{wetPhoneInfo.fiveSubsectionParagraphSix}}</p>
  <h2 class="container__title">{{wetPhoneInfo.sixSectionTitle}}</h2>
  <ul>
    <li>{{wetPhoneInfo.sixSectionLiOne}}</li>
    <li>{{wetPhoneInfo.sixSectionLiTwo}}</li>
    <li>{{wetPhoneInfo.sixSectionLiThree}}</li>
  </ul>
  <img class="container__img" [src]="wetPhoneInfo.sixSectionImgUrl" alt="">
  <p class="container__text">{{wetPhoneInfo.sixSectionPS}}</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/_CYZYK8hGVQ" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
</div>
