.container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  &__title{
    font-size: 2em;
    padding: 20px 0;
    color: #a735c0;
    font-weight: 600;
  }
  &__text{
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
    color: black;
  }
  & li{
    font-size: 1.2rem;
    color: #a735c0;;
    font-weight: 600;
    line-height: 1.5;
    padding: 5px 0;
  }
  &__subtitle{
    font-size: 1.5em;
    padding: 20px 0;
    color: #a735c0;
    font-weight: 600;
  }
  &__img{
    width: 40vw;
    height: 50vh;
    align-self: center;
    padding: 20px 0;
  }
  & iframe{
    align-self: center;
    padding: 20px 0;
  }
}
@media screen and (max-height: 1000px) {
  img{
    width: 10vw;
    height: 1vh;
  }
}
