<div class="container">
  <div class="packaging">
    <div class="packaging__holder">
      <div class="packaging__box">
        <h2 class="packaging__title">Освободите свой дом от лишнего</h2>
        <p class="packaging__text">С услугой “Хранение упаковки” больше не нужно выделять отдельное место для пустых
          коробок из-под техники.</p>
        <h6 class="packaging__subtitle">* Данная услуга доступна только в г. Днепр</h6>
      </div>
      <div class="packaging__box">
        <img class="packaging__img"
             src="https://www.moyo.ua/new-moyo/build/img/store-package/storage-packaging-banner.jpg" alt="">
      </div>
    </div>
    <div class="packaging__holder packaging__holder_w">
      <div class="packaging__box packaging__box_s">
        <h2 class="packaging__title">Ваш комфорт - наша забота</h2>
        <div class="packaging__free">БЕСПЛАТНАЯ УСЛУГА</div>
      </div>
      <div class="packaging__box_start packaging__box">
        <p class="packaging__text">Больше не нужно искать отдельное место для пустых коробок из-под техники.</p>
        <p class="packaging__text">По желанию, после доставки заказа курьеры заберут упаковку для хранения к нам на
          склад.</p>
        <p class="packaging__text">А через две недели мы отправим коробку на переработку и утилизацию.</p>
        <p class="packaging__text">Если передумаете или необходимо будет вернуть товар, в течение 14 дней с момента
          покупки, мы доставим коробку обратно.</p>
        <p class="packaging__text">Хранение на складе - бесплатно, а воспользоваться услугой возможно только в
          Днепре.</p>
      </div>
    </div>
  </div>
</div>
