<form class="example-form">
  <div class="sayHi">{{title}}</div>
  <span class="enter-info">{{description}}</span>
  <mat-form-field appearance="fill">
    <mat-label>Введите свой email</mat-label>
    <input matInput [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Введите пароль</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <div class="example-button-row">
    <button mat-raised-button color="primary" routerLink="registration">{{btnText.registration}}</button>
    <button mat-raised-button color="primary" routerLink="main" (click)="authUser()">{{btnText.enter}}</button>
  </div>
</form>
