<div class="container" *ngIf="playstationInfo">
  <p class="container__text">{{playstationInfo.firstParagraph}}</p>
  <img class="container__img" [src]="playstationInfo.imgUrl" alt="">
  <h2 class="container__title">{{playstationInfo.firstSectionTitle}}</h2>
  <p class="container__text">{{playstationInfo.firstSectionParagraph}}</p>
  <ol>
    <li>{{playstationInfo.firstSectionLiOne}}<p class="container__text">{{playstationInfo.paragraphLiOne}}</p></li>
    <li>{{playstationInfo.firstSectionLiTwo}}<p class="container__text">{{playstationInfo.paragraphLiTwo}}</p></li>
    <li>{{playstationInfo.firstSectionLiThree}}<p class="container__text">{{playstationInfo.paragraphLiThree}}</p></li>
    <li>{{playstationInfo.firstSectionLiFourth}}<p class="container__text">{{playstationInfo.paragraphLiFourth}}</p>
    </li>
    <li>{{playstationInfo.firstSectionLiFifth}}<p class="container__text">{{playstationInfo.paragraphLiFifth}}</p></li>
    <li>{{playstationInfo.firstSectionLiSixth}}<p class="container__text">{{playstationInfo.paragraphLiSixth}}</p></li>
    <li>{{playstationInfo.firstSectionLiSeventh}}<p class="container__text">{{playstationInfo.paragraphLiSeventh}}</p>
    </li>
    <li>{{playstationInfo.firstSectionLiEighth}}<p class="container__text">{{playstationInfo.paragraphLiEighth}}</p>
    </li>
    <li>{{playstationInfo.firstSectionLiNinth}}<p class="container__text">{{playstationInfo.paragraphLiNinth}}</p></li>
  </ol>
  <p class="container__text">{{playstationInfo.firstSectionPS}}</p>
  <h2 class="container__title">{{playstationInfo.secondSectionTitle}}</h2>
  <p class="container__text">{{playstationInfo.secondSectionParagraph}}</p>
  <img class="container__img" [src]="playstationInfo.secondSectionImgUrl" alt="">
  <h2 class="container__title">{{playstationInfo.thirdSectionTitle}}</h2>
  <p class="container__text">{{playstationInfo.thirdSectionParagraph}}</p>
  <h2 class="container__title">{{playstationInfo.fourthSectionTitle}}</h2>
  <p class="container__text">{{playstationInfo.fourthSectionParagraph}}</p>
  <ul>
    <li>{{playstationInfo.fourthSectionLiOne}}<p
      class="container__text">{{playstationInfo.fourthSectionParagraphLiOne}}</p></li>
    <li>{{playstationInfo.fourthSectionLiTwo}}<p
      class="container__text">{{playstationInfo.fourthSectionParagraphLiTwo}}</p></li>
    <li>{{playstationInfo.fourthSectionLiThree}}<p
      class="container__text">{{playstationInfo.fourthSectionParagraphLiThree}}</p></li>
  </ul>
  <p class="container__text">{{playstationInfo.fourthSectionParagraphTwo}}</p>
  <img class="container__img del-logo" [src]="playstationInfo.fourthSectionImgUrl" alt="">
  <p class="container__text">{{playstationInfo.fourthSectionParagraphThree}}</p>
  <ol>
    <li>{{playstationInfo.fourthSectionLiFourth}}</li>
    <li>{{playstationInfo.fourthSectionLiFifth}}</li>
    <li>{{playstationInfo.fourthSectionLiSixth}}</li>
    <li>{{playstationInfo.fourthSectionLiSeventh}}</li>
    <li>{{playstationInfo.fourthSectionLiEighth}}</li>
    <li>{{playstationInfo.fourthSectionLiNinth}}</li>
    <li>{{playstationInfo.fourthSectionLiTenth}}</li>
    <li>{{playstationInfo.fourthSectionLiEleventh}}</li>
    <li>{{playstationInfo.fourthSectionLiTwelfth}}</li>
    <li>{{playstationInfo.fourthSectionLiThirteenth}}</li>
    <li>{{playstationInfo.fourthSectionLiFourteenth}}</li>
    <li>{{playstationInfo.fourthSectionLiFifteenth}}</li>
    <li>{{playstationInfo.fourthSectionLiSixteenth}}</li>
    <li>{{playstationInfo.fourthSectionLiSecenteenth}}</li>
  </ol>
  <p class="container__text">{{playstationInfo.fourthSectionParagraphFourth}}</p>
  <p class="container__text">{{playstationInfo.fourthSectionParagraphFifth}}</p>
  <h2 class="container__title">{{playstationInfo.fifthSectionTitle}}</h2>
  <p class="container__text">{{playstationInfo.fifthSectionParagraph}}</p>
  <img class="container__img" [src]="playstationInfo.fifthSectionImgUrl" alt="">
  <p class="container__text">{{playstationInfo.fifthSectionParagraphTwo}}</p>
  <ol>
    <li>{{playstationInfo.fifthSectionLiOne}}</li>
    <li>{{playstationInfo.fifthSectionLiTwo}}</li>
    <li>{{playstationInfo.fifthSectionLiThree}}</li>
    <li>{{playstationInfo.fifthSectionLiFour}}</li>
    <li>{{playstationInfo.fifthSectionLiFive}}</li>
  </ol>
  <p class="container__text">{{playstationInfo.fifthSectionParagraphThree}}</p>
  <ul>
    <li>{{playstationInfo.fifthSectionLiSix}}</li>
    <li>{{playstationInfo.fifthSectionLiSeven}}</li>
    <li>{{playstationInfo.fifthSectionLiEight}}</li>
    <li>{{playstationInfo.fifthSectionLiNine}}</li>
    <li>{{playstationInfo.fifthSectionLiTen}}</li>
    <li>{{playstationInfo.fifthSectionLiEleven}}</li>
    <li>{{playstationInfo.fifthSectionLiTwelve}}</li>
  </ul>
  <p class="container__text">{{playstationInfo.fifthSectionParagraphFour}}</p>
  <h2 class="container__title">{{playstationInfo.sixthSectionTitle}}</h2>
  <p class="container__text">{{playstationInfo.sixthSectionParagraph}}</p>
  <p class="container__text">{{playstationInfo.sixthSectionParagraphTwo}}</p>
  <ol>
    <li>{{playstationInfo.sixthSectionLiOne}}</li>
    <li>{{playstationInfo.sixthSectionLiTwo}}</li>
    <li>{{playstationInfo.sixthSectionLiThree}}</li>
    <li>{{playstationInfo.sixthSectionLiFour}}</li>
    <li>{{playstationInfo.sixthSectionLiFive}}</li>
    <li>{{playstationInfo.sixthSectionLiSix}}</li>
    <li>{{playstationInfo.sixthSectionLiSeven}}</li>
    <li>{{playstationInfo.sixthSectionLiEight}}</li>
  </ol>
  <p class="container__text">{{playstationInfo.sixthSectionParagraphThree}}</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/BZeBMQSZC2M" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
</div>
