<div class="container">
  <div class="returns">
    <div class="returns__holder">
      <div class="returns__box">
        <h2 class="returns__title">С TechAwesome обменять или вернуть — легко</h2>
      </div>
      <div class="returns__box returns__box_i">
        <img src="https://www.moyo.ua/new-moyo/build/img/exchange-page/dog-bg.png" alt="">
      </div>
    </div>
    <div class="returns__holder returns__holder_w">
      <div class="returns__box returns__box_p">
        <h2 class="returns__title returns__title_w">В течение 14 дней, если:</h2>
      </div>
      <div class="returns__box returns__box_p">
        <ul class="returns__list">
          <li class="returns__item">Товар не имеет следов эксплуатации;</li>
          <li class="returns__item">Сохранен товарный вид изделия и его комплектующих;</li>
          <li class="returns__item">Есть в наличии кассовый чек (расходная накладная) о приобретении товара;</li>
          <li class="returns__item">Есть заводские пломбы, защитные пленки на товаре.</li>
        </ul>
      </div>
    </div>
    <div class="returns__holder returns__holder_b">
      <div class="returns__box returns__box_p">
        <h2 class="returns__title returns__title_w">Чтобы обменять или вернуть товар, возьми с собой:</h2>
        <h6 class="returns__subtitle">* В случае отсутствия одного из пунктов, возврат или обмен товара произведен не
          будет</h6>
      </div>
      <div class="returns__box returns__box_p">
        <ul class="returns__list">
          <li class="returns__item">Документ, подтверждающий покупку (кассовый чек или расходная накладная);</li>
          <li class="returns__item">Гарантийный талон;</li>
          <li class="returns__item">Пластиковая карта (посредством которой осуществлялся расчет);</li>
          <li class="returns__item">Документ государственного образца, который удостоверяет личность: паспорт,
            водительские права, студенческий билет, пенсионное удостоверение.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
