$element: 100;
$speed: 7s;
main,section{
  width: 100%;height: 100%;
}
section{
  background-color: #140032;
  overflow: hidden;
  margin:0;
  perspective: 1000px;
  *,*:after{
    position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;border-radius: 50%;
  }
  z-index: 0;
}
.abstraction{
  &:first-child{
    transform: scale(-1,-1)
  }
}
.element{
  width: 100px;
  height: 100px;
  animation: life $speed ease-in-out infinite;
  &:after{
    content: "";
    width: inherit;
    height: inherit;
    border-bottom: 3px dashed transparent;
  }
  @for $i from 0 through $element{
    &:nth-child(#{$i + 1}){
      animation-delay: -$i * $speed / $element;
      &:after{
        transform: rotateX($i * 720deg / $element) translate($i * 500px / $element) scale($i * 5 / $element);
        border-color: hsla(250 + ($i * 50 / $element),100%,50%,1);
      }
    }
  }
}
@keyframes life {
  50%{
    transform: rotateY(90deg) translateY(50px) scale(1,-3);
  }
}
