%animation-styles{
  content: '';
  position: absolute;
  filter: blur(10px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 1em, violet 1em, #337AB7 50%), repeating-linear-gradient(45deg, #337AB7, #337AB7 1em, #FFF 1em, #BFE2FF 50%);
  background-size: 3em 3em, 2em 2em;
  animation-name: ani;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.contacts{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  margin-right: 50px;
  overflow: hidden;
  font-size: 1.2em;
  line-height: 1.3em;
  background-color: azure;
  font-weight: 900;
  &::before{
    @extend %animation-styles;
  }
  &__link{
    position: relative;
    z-index: 5;
    text-decoration: none;
    color: #337AB7;
    margin: 3px 0;
    transition: .7s;
    &:hover{
      color: #BFE2FF;
    }
  }
}
.pouring {
  font-size: 4em;
  line-height: 1.4em;
  font-family: Verdana, sans-serif;
  font-weight: 900;
  position: absolute;
  top: 0;
  overflow: hidden;
  display: block;
  width: 100%;
  text-align: center;
  background-color: azure;
  text-transform: uppercase;
  z-index:1;
}
.pouring::before {
  @extend %animation-styles;
}
@keyframes ani {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@media (max-width:690px) {
  .pouring {font-size: 20px;}
}
@media screen and (max-width: 1000px){
  .contacts{
    text-align: center;
    top:100%;
    left:50%;
    transform:translate(-50%, -80%);
    width: 100%;
  }
}

