<div class="container">
  <div class="about-company-start">
    <h3 class="about-company-start__subtitle">МЫ МУЛЬТИБРЕНДОВЫЕ — МЫ ВМЕСТЕ С ТРЕНДАМИ</h3>
    <h2 class="about-company-start__title">TechAwesome</h2>
  </div>
  <div class="about-company-home">
    <h2 class="about-company-home__title">С TechAwesome как дома</h2>
    <p class="about-company-home__text">Ваши желания — наша забота!
      <br>Выбирайте в комфортной обстановке и в удобное время.</p>
    <img class="about-company-home__img" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/e3fef595701017.5e9dc4f86e476.gif" alt="">
  </div>
  <div class="about-company-sleep">
    <h2 class="about-company-sleep__title">Не спите вы - не спим и мы:</h2>
    <ul class="about-company-sleep__list">
      <li class="about-company-sleep__item">Обрабатываем заказы 24/7.</li>
      <li class="about-company-sleep__item">Встречаем в любое время в круглосуточном магазине-складе в Днепре</li>
      <li class="about-company-sleep__item">Забирай что угодно и когда угодно.</li>
    </ul>
    <div>
      <p class="about-company-sleep__text">20 минут и — ваше!</p>
      <p class="about-company-sleep__text">Даже ночью.</p>
    </div>
  </div>
</div>

