<div class="container" *ngIf="samsungInfo">
  <p class="container__text">{{samsungInfo.firstParagraph}}</p>
  <img class="container__img" [src]="samsungInfo.imgUrl" alt="">
  <h2 class="container__title">{{samsungInfo.firstSectionTitle}}</h2>
  <p class="container__text">{{samsungInfo.firstSectionParagraph}}</p>
  <ul>
    <li>{{samsungInfo.firstSectionLiOne}}</li>
    <li>{{samsungInfo.firstSectionLiTwo}}</li>
    <li>{{samsungInfo.firstSectionLiThree}}</li>
  </ul>
  <h3 class="container__subtitle">{{samsungInfo.firstSubsectionTitle}}</h3>
  <p class="container__text">{{samsungInfo.firstSubsectionParagraph}}</p>
  <img class="container__img" [src]="samsungInfo.firstSubsectionImgUrl" alt="">
  <h3 class="container__subtitle">{{samsungInfo.secondSubsectionTitle}}</h3>
  <p class="container__text">{{samsungInfo.secondSubsectionParagraph}}</p>
  <h3 class="container__subtitle">{{samsungInfo.thirdSubsectionTitle}}</h3>
  <p class="container__text">{{samsungInfo.thirdSubsectionParagraph}}</p>
  <img class="container__img" [src]="samsungInfo.thirdSubsectionImgUrl" alt="">
  <h3 class="container__subtitle">{{samsungInfo.fourthSubsectionTitle}}</h3>
  <p class="container__text">{{samsungInfo.fourthSubsectionParagraph}}</p>
  <h3 class="container__subtitle">{{samsungInfo.fifthSubsectionTitle}}</h3>
  <p class="container__text">{{samsungInfo.fifthSubsectionParagraph}}</p>
  <h2 class="container__title">{{samsungInfo.secondSectionTitle}}</h2>
  <p class="container__text">{{samsungInfo.secondSectionParagraph}}</p>
  <ol>
    <li>{{samsungInfo.secondSectionLiOne}}</li>
    <li>{{samsungInfo.secondSectionLiTwo}}</li>
    <li>{{samsungInfo.secondSectionLiThree}}</li>
  </ol>
  <p class="container__text">{{samsungInfo.secondSectionPS}}</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/2yNpJEv6xU4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
